body {
  background-color: #F1F1F1;
}
.box {
  background-color: #fff;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.logo_min {
  height: 40px;
  margin-top: -10px;
}

.main-navbar.navbar-default{
  background-color: #fff;
}

.navbar.playground-navbar {
  margin-bottom: 0px;
}

.footer {
  background-color: #014B56;
  color: #DFF0D8;
  padding: 15px;
}

.btn-primary {
  color: #DFF0D8;
  background-color: #014B56;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, 
.btn-primary:focus, .btn-primary.focus {
  background-color: #014B56;
  color: #DFF0D8;
}
.btn-primary:active:focus {
  background-color: #015865;
}

.box-hearder {
  position: relative;
  margin: -15px;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
}

.box-header-logo {
  max-height: 110px;
}
.box-header-logo.img-responsive {
  margin: auto;
}

.controls {
  margin: -15px;
  padding: 15px;
  border-top: 1px solid #EEEEEE;
}

.playground {
  margin-top: 30px;
  margin-bottom: 15px;
  min-height: 400px;
}

canvas {
  width: 100%;
  height: 649px;;
  border: 1px solid #eee;
  margin-bottom: 10px;
}
